.whyUs {
  margin: 80px auto;
}
.cards {
  display: flex;
  justify-content: space-between;
}
.card {
  background-color: #006266;
  height: 200px;
  padding: 30px 15px 0px;
  border-radius: 10px;
  color: #fff;
  margin-left: 20px;
}
.card i {
  font-size: 60px;
  color: #fff;
}
