.title {
  font-weight: 700;
}
.title span {
  color: #e67e22;
  font-style: italic;
}
.navbar-design a {
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #2c3e50;
  transition: 0.2s;
}
.navbar-design a:hover {
  color: #e67e22;
}

@media (max-width: 576px) {
  .navbar-design a,
  button {
    display: block;
    text-align: center;
  }
}
